<%- include('../templates/dashboard/header',{title:'Dúvidas Dívidas News'})%>
<%- include('../templates/dashboard/navbar')%>
<div class="container mt-5">
    <div class="title">
        <h1 class="title">
            Produtos
        </h1>
    </div>
    <div class="mt-4">
        <div id="products">
            <div class="row" id="products-catalog">
            </div>
        </div>
    </div>

</div>
<script src="/js/catalog.js"></script>
<%- include('../templates/dashboard/footer') %>
